body {
}

.cookiedel__body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 12px;
  margin: 0;
}

input[type=button] {
  outline: none;
}

input[type=button]:active {
  outline: none;
}

.cookiedel {
  width: 250px;
  overflow: hidden;
}

.cookiedel__content {
  padding: 0 10px;
}

.cookiedel__header {
  margin-bottom: 16px;
}

.cookiedel__frm--group {
  overflow: hidden;
  margin: 10px 0;
}

input[type="text"].cookiedel__txt {
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  float: left;
  width: 170px;
  display: block;
  box-sizing: border-box;
  border: none;
  color: #000;
  background-color: transparent;
  font-size: 12px;
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
}

.cookiedel__sbmt {
  float: right;
  width: 60px;
  text-align: center;
  font-size: 12px;
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
}

hr {
  background-color: #ccc;
  border-top: none;
  height: 1px;
  border-bottom: solid 1px #eee;
  border-left: none;
  border-right: none;
}

.cookiedel__hstr--active .cookiedel__hstr {
  display: block;
}

.cookiedel__hstr {}

.cookiedel__hstr {
  margin-top: 10px;
}

.cookiedel__sttngs {
  background-color: #eee;
  padding: 5px 10px;
  overflow: hidden;
}

.cookiedel__tool {
  border: none;
  width: 16px;
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  box-shadow: none;
  min-width: 0;
}
.cookiedel__tool:hover {
    background-image: url('/images/icon-empty-list.png') !important;
    box-shadow: none !important;
    border-color: transparent !important;
}

.cookiedel__tool--marg{
    margin-right: 10px;
}

.cookiedel__sttngs--btn {
  background-image: url('/images/icon-settings.png');  
}

.cookiedel__trash--btn {
  background-image: url('/images/icon-waste-bin.png');
}

.cookiedel__clr--btn {
  background-image: url('/images/icon-empty-list.png');  
}

.hidden {
  display: none;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

/*
Options page
*/
